*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira sans',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    color: #fff;
}

header{
    padding: 32px 16px ;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 40px;
    font-weight: 300;
    color: aqua ;
    margin-bottom: 1rem;
}
header h1 img{
    width: 30px;
    margin-left: 10px;
}
#new-task-form{
    display: flex;
}
input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input    {
    flex: 1 1 0%;
    background-color: #eee;
    padding: 16px;
    border-radius: 16px;
    margin: 16px;
    color: #140202;
    font-size: 20px;
}


#new-task-input::placeholder{
    color: #6b7280;
}

#new-task-submit{
    color: #ec4899;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(to right,#ec4899,#8b5cf6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 32px 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    padding: 16px;
}

.task-list h2{
    font-size: 24px;
    font-weight: 300;
    color: aqua;
    margin-bottom: 16px;
}

#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

#tasks .task .content .text{
    color: #eee;
    font-size: 18px;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    color: #ec4899;
}

#tasks .task .actions{
    display: flex;
    margin: 0 -8px;
}

.tasks .actions button {
    cursor: pointer;
    margin: 0 16px;
    font-size: 18px;
    font-weight: 700;
    transition: 0.4s;
}

.tasks .actions button:hover{
    opacity: 0.8s ;
}

.tasks .actions button:active{
    opacity: 0.8s ;
}


.task .actions .edit{
    background-image: linear-gradient(to right,#ec4899,#8b5cf6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.task .actions .delete{
    color: #dc143c;
}
